.display{
  position: relative;
  height: 100px;
  border: 1px solid;
  padding: 5px;
  font-size: 20px;
}

#history{
  position: absolute;
  top: 0;
  right: 0;
  padding:5px;
}

#calculation{
  position: absolute;
  bottom: 0;
  right: 0;
  padding:5px;
}

#calculator{
  width: 500px;
  height: 600px;
  margin: 30px;
}

button{
  position:absolute;
  font-size: 25px;
}

#expr_input{
  border:none;
  background-color: transparent;
  outline: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding:5px;
  text-align: right;
}